<!--Fragment pour les scripts js-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="libs" th:remove="tag">
    <script th:src="@{/bower_components/jquery/dist/jquery.js}"></script>
    <script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.js}"></script>
    <script th:src="@{/bower_components/angular/angular.js}"></script>
    <script th:src="@{/bower_components/angular-resource/angular-resource.js}"></script>
    <script th:src="@{/js/tfortools.js}"></script>
</div>
</html>