/* Fix de la position du feedback sur input */
.form-control-feedback {
    top: 10px !important;
    z-index: 100;
}

/* Taille du conteneur de la todolist */
.panel-body.contentHolder {
    min-height: 320px;
    overflow: visible;
}

/* Réglage du padding-right pour la gestion des tâches */
.alert-blocks.alert-dismissable {
    padding-right: 15px !important;
}