<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default-layout" th:with="title=#{task.title}, css='tache'">
<body ng-app="tacheApp">
<div layout:fragment="content">
    <div class="container" ng-controller="tacheCtrl">
        <div class="tache row">

            <!-- Stock panel -->
            <div class="col-md-4 sm-margin-bottom-30">
                <div class="panel panel-tache">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm"><i class="fa fa-database"></i>
                            <span th:text="#{task.open.title}"></span>
                            <i id="stock-add" class="add-task fa fa-plus fa-lg pull-right" data-toggle="modal"
                               data-target=".add-task-modal" ng-click="initPopup('EN_STOCK')"></i>
                        </h2>
                    </div>

                    <div class="panel-body contentHolder ps-container" data-statut="EN_STOCK"
                         jqyoui-droppable="{multiple: true, onDrop: 'move()'}" data-drop="true" ng-model="stock"
                         data-jqyoui-options="{accept:'.alert-blocks:not([ng-model=stock])'}">
                        <div ng-repeat="task in stock" data-drag="true" ng-class="alertClass(task.niveau)"
                             ng-model="stock" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}}}">
                            <button aria-hidden="true" class="close" type="button" ng-click="remove(task)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                            <button aria-hidden="true" data-toggle="modal" data-target=".add-task-modal" class="close" type="button"
                                    ng-click="initPopup(task.statut, task)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <div class="overflow-h">
                                <strong ng-class="color(task.niveau)">{{task.nom}}
                                    <small class="pull-right"><em><span am-time-ago="task.creation"></span></em></small>
                                </strong>

                                <p>{{task.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Progress panel -->
            <div class="col-md-4 sm-margin-bottom-30">
                <div class="panel panel-tache">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm"><i class="fa fa-spinner fa-spin"></i>
                            <span th:text="#{task.inprogress.title}"></span>
                            <i id="inprogress-add" class="add-task fa fa-plus fa-lg pull-right" data-toggle="modal"
                               data-target=".add-task-modal" ng-click="initPopup('EN_COURS')"></i></h2>
                    </div>
                    <div class="panel-body contentHolder ps-container" ng-model="progress"
                         jqyoui-droppable="{multiple: 'true', onDrop: 'move()'}" data-drop="true" data-statut="EN_COURS"
                         data-jqyoui-options="{accept:'.alert-blocks:not([ng-model=progress])'}">
                        <div ng-repeat="task in progress" ng-class="alertClass(task.niveau)" jqyoui-draggable="{index: {{$index}}}"
                             data-drag="true" ng-model="progress" data-jqyoui-options="{revert: 'invalid'}">
                            <button aria-hidden="true" class="close" type="button" ng-click="remove(task)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                            <button aria-hidden="true" data-toggle="modal" data-target=".add-task-modal" class="close" type="button"
                                    ng-click="initPopup(task.statut, task)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <div class="overflow-h">
                                <strong ng-class="color(task.niveau)">{{task.nom}}
                                    <small class="pull-right"><em><span am-time-ago="task.creation"></span></em></small>
                                </strong>

                                <p>{{task.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Done panel -->
            <div class="col-md-4 sm-margin-bottom-30">
                <div class="panel panel-tache">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm"><i class="fa fa-check-square-o"></i> <span th:text="#{task.done.title}"></span>
                            <i id="done-add" class="add-task fa fa-plus fa-lg pull-right" data-toggle="modal"
                               data-target=".add-task-modal" ng-click="initPopup('TERMINE')"></i></h2>
                    </div>
                    <div class="panel-body contentHolder ps-container" ng-model="done"
                         jqyoui-droppable="{multiple: 'true', onDrop: 'move()'}" data-drop="true" data-statut="TERMINE"
                         data-jqyoui-options="{accept:'.alert-blocks:not([ng-model=done])'}">
                        <div ng-repeat="task in done" ng-class="alertClass(task.niveau)" jqyoui-draggable="{index: {{$index}}}"
                             data-drag="true" ng-model="done" data-jqyoui-options="{revert: 'invalid'}">
                            <button aria-hidden="true" class="close" type="button" ng-click="remove(task)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                            <button aria-hidden="true" data-toggle="modal" data-target=".add-task-modal" class="close" type="button"
                                    ng-click="initPopup(task.statut, task)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <div class="overflow-h">
                                <strong ng-class="color(task.niveau)">{{task.nom}}
                                    <small class="pull-right"><em><span am-time-ago="task.creation"></span></em></small>
                                </strong>

                                <p>{{task.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade add-task-modal" tabindex="-1" role="dialog" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title" th:text="#{task.modal.title}"></h4>
                    </div>
                    <form class="sky-form">
                        <div class="modal-body">
                            <fieldset>
                                <section>
                                    <label class="label" th:text="#{task.name}"></label>
                                    <label class="input">
                                        <input class="form-control" ng-model="popupTask.nom" type="text" th:placeholder="#{task.name}"/>
                                    </label>
                                </section>
                                <section>
                                    <label class="label" th:text="#{task.description}"></label>
                                    <label class="textarea">
                                        <textarea name="description" rows="3" ng-model="popupTask.description"
                                                  th:placeholder="#{task.description}">
                                        </textarea>
                                    </label>
                                </section>
                                <section>
                                    <label class="label" th:text="#{task.level}"></label>

                                    <div class="inline-group">
                                        <label class="radio">
                                            <input name="niveauTache" ng-model="popupTask.niveau" type="radio" value="FAIBLE"/>
                                            <i class="rounded-x"></i>
                                            <span th:text="#{task.level.weak}"></span>
                                        </label>
                                        <label class="radio">
                                            <input name="niveauTache" ng-model="popupTask.niveau" type="radio" value="NORMAL"/>
                                            <i class="rounded-x"></i>
                                            <span th:text="#{task.level.normal}"></span>
                                        </label>
                                        <label class="radio">
                                            <input name="niveauTache" ng-model="popupTask.niveau" type="radio" value="IMPORTANT"/>
                                            <i class="rounded-x"></i>
                                            <span th:text="#{task.level.important}"></span>
                                        </label>
                                        <label class="radio">
                                            <input name="niveauTache" ng-model="popupTask.niveau" type="radio" value="CRITIQUE"/>
                                            <i class="rounded-x"></i>
                                            <span th:text="#{task.level.urgent}"></span>
                                        </label>
                                    </div>
                                </section>
                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn-u btn-u-default" type="button"><i class="fa fa-times"></i>
                                <span th:text="#{btn.close}"></span>
                            </button>
                            <button data-dismiss="modal" class="btn-u" type="button" ng-click="save(popupTask)">
                                <i class="fa fa-check"></i>
                                <span th:text="#{btn.valid}"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="specificjs" th:remove="tag">
    <script th:src="@{/bower_components/moment/moment.js}" type="text/javascript"></script>
    <script th:src="@{/bower_components/moment/lang/fr.js}" type="text/javascript"></script>
    <script th:src="@{/bower_components/angular-moment/angular-moment.js}" type="text/javascript"></script>
    <script th:src="@{/bower_components/perfect-scrollbar/src/jquery.mousewheel.js}" type="text/javascript"></script>
    <script th:src="@{/bower_components/perfect-scrollbar/src/perfect-scrollbar.js}" type="text/javascript"></script>
    <script th:src="@{/bower_components/jquery-ui/jquery-ui.js}" type="text/javascript"></script>
    <script th:src="@{/bower_components/angular-dragdrop/src/angular-dragdrop.js}" type="text/javascript"></script>
    <script th:src="@{/js/tache.js}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            "use strict";

            /**
             * Ajout des scrollbars aux listes de tâches
             */
            $('.contentHolder').perfectScrollbar();
        });
    </script>
</div>
</body>
</html>