<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default-layout" th:with="title=#{task.title}, css='tache'">
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="tache row">
            <div class="col-md-4 sm-margin-bottom-30">
                <div class="panel panel-tache">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm"><i class="fa fa-database"></i>
                            <span th:text="#{task.open.title}"></span>
                            <i id="stock-add" class="add-task fa fa-plus fa-lg pull-right" data-toggle="modal"
                               data-target=".add-task-modal" data-level="EN_STOCK"></i>
                        </h2>
                    </div>
                    <div class="panel-body contentHolder ps-container">
                        <div class="alert-blocks alert-blocks-pending alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <div class="overflow-h">
                                <strong class="color-yellow">Pending...
                                    <small class="pull-right"><em>Just now</em></small>
                                </strong>

                                <p>Your friend request has been sent.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 sm-margin-bottom-30">
                <div class="panel panel-tache">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm"><i class="fa fa-spinner fa-spin"></i> <span
                                th:text="#{task.inprogress.title}"></span>
                            <i id="inprogress-add" class="add-task fa fa-plus fa-lg pull-right" data-toggle="modal"
                               data-target=".add-task-modal" data-level="EN_COURS"></i></h2>
                    </div>
                    <div class="panel-body contentHolder ps-container">
                        <div class="alert-blocks alert-blocks-pending alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <div class="overflow-h">
                                <strong class="color-yellow">Pending...
                                    <small class="pull-right"><em>Just now</em></small>
                                </strong>

                                <p>Your friend request has been sent.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 sm-margin-bottom-30">
                <div class="panel panel-tache">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm"><i class="fa fa-check-square-o"></i> <span th:text="#{task.done.title}"></span>
                            <i id="done-add" class="add-task fa fa-plus fa-lg pull-right" data-toggle="modal"
                               data-target=".add-task-modal" data-level="TERMINE"></i></h2>
                    </div>
                    <div class="panel-body contentHolder ps-container">
                        <div class="alert-blocks alert-blocks-pending alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <div class="overflow-h">
                                <strong class="color-yellow">Pending...
                                    <small class="pull-right"><em>Just now</em></small>
                                </strong>

                                <p>Your friend request has been sent.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade add-task-modal" tabindex="-1" role="dialog" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title" th:text="#{task.modal.title}"></h4>
                    </div>
                    <div class="modal-body">
                        <form class="sky-form">
                            <fieldset>
                                <section>
                                    <label class="label" th:text="#{task.name}"></label>
                                    <label class="input">
                                        <input class="form-control" name="nom" type="text" th:placeholder="#{task.name}"/>
                                    </label>
                                </section>
                                <section>
                                    <label class="label" th:text="#{task.description}"></label>
                                    <label class="textarea textarea-expandable">
                                        <textarea name="description" rows="3" th:placeholder="#{task.description}"></textarea>
                                    </label>
                                </section>
                                <section>
                                    <label class="label" th:text="#{task.level}"></label>

                                    <div class="inline-group">
                                        <label class="radio"><input name="niveauTache" type="radio"/><i class="rounded-x"></i>
                                            <span th:text="#{task.level.weak}"></span>
                                        </label>
                                        <label class="radio"><input name="niveauTache" checked="" type="radio"/><i class="rounded-x"></i>
                                            <span th:text="#{task.level.normal}"></span>
                                        </label>
                                        <label class="radio"><input name="niveauTache" type="radio"/><i class="rounded-x"></i>
                                            <span th:text="#{task.level.important}"></span>
                                        </label>
                                        <label class="radio"><input name="niveauTache" type="radio"/><i class="rounded-x"></i>
                                            <span th:text="#{task.level.urgent}"></span>
                                        </label>
                                    </div>
                                </section>
                                <input type="hidden" id="statutTache" name="statutTache"/>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn-u btn-u-default" type="button"><i class="fa fa-times"></i>
                            <span th:text="#{btn.close}"></span>
                        </button>
                        <button class="btn-u" type="button"><i class="fa fa-check"></i>
                            <span th:text="#{btn.valid}"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="specificjs" th:remove="tag">
    <script th:src="@{/bower_components/perfect-scrollbar/src/jquery.mousewheel.js}" type="text/javascript"></script>
    <script th:src="@{/bower_components/perfect-scrollbar/src/perfect-scrollbar.js}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            "use strict";
            /**
             * Ajout des scrollbars au listes de tâches
             */
            $('.contentHolder').perfectScrollbar();

            /**
             * Callback d'ouverture de la popup d'ajout de tâches
             */
            $('.add-task-modal').on('show.bs.modal', function (e) {
                var level = $(e.relatedTarget).data('level');
                $('#statutTache').val(level);
            });
        });
    </script>
</div>
</body>
</html>